@media screen and (max-width: 600px){
    section{
        margin: 20px;
        height: -webkit-fill-available;
    }

    .container{
        flex-direction: column !important;
        height: fit-content !important;
    }

    .container img{
        margin: auto;
        height: 300px;
        width: 300px;
    }

    .container form{
        margin: 0;
        padding: 0;
    }

    .container form .fields-wrapper{
        width: calc(100% - 30px);
    }

    .md-group{
        margin: 30px 0 !important;
    }
}