.container{
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #fff;
    border-radius: 8px;
    height: -webkit-fill-available;
    box-shadow: var(--box-shadow);
}
