{% macro links() %}
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js" integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=" crossorigin="anonymous"></script>

    <!-- GSAP -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/gsap.min.js" integrity="sha512-2fk3Q4NXPYAqIha0glLZ2nluueK43aNoxvijPf53+DgL7UW9mkN+uXc1aEmnZdkkZVvtJZltpRt+JqTWc3TS3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <!-- Google APIs -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
{% endmacro %}


{% macro header(navbar, current_user, sideNav, flashSuccess, flashError, flashInfo) %}
    {{ navbar(current_user) }} 

    {{ sideNav(current_user) }}

    {{ flashSuccess() }}

    {{ flashError() }}

    {{ flashInfo() }}
{% endmacro %}


{% macro cssfiles() %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/nmf.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/sideNav.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/materials.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/essentials.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='css/mobile/nmf.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/assets/flashes.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='css/assets/forms.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/assets/elements.css') }}">
{% endmacro %}


{% macro jsfiles() %}
<script type="text/javascript" src="{{ url_for('static', filename='js/essentials.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/flashes.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/nav.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/sideNav.js') }}"></script>
{% endmacro %}