*{
    margin: 0;
    padding: 0;
    font-family: "Muli",sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0;
}

:root{
    --bg--primary: rgba(229 231 235 / 100%);
    --bg--secondary: rgba(255 255 255 / 100%);
    --bg--tertiary: rgba(255 255 255 / 80%);

    --cl--primary-text: rgba(0 0 0 / 95%);
    --cl--secondary-text: rgba(0 0 0 / 80%);
    --cl--tertiary-text: rgba(0 0 0 / 70%);

    --cl--border: #d8d8d8;

    --success :#44cc77;
    --cl--bg--success: rgba(68 204 119 / 30%);

    --cl--error: rgba(238 44 74 / 100%);
    --bg--error: rgba(238 44 74 / 30%);

    --cl--warning: rgba(238 189 12 / 100%);
    --bg--warning: rgba(238 189 12 / 30%);

    --tw-ring-offset-shadow: 0 0 #000;
    --tw-ring-shadow: 0 0 #000;
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

    --box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

body{
    background: var(--bg--primary);
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: unset;
}

i{
    height: fit-content;
}

ul, li{
    list-style: none;
}

.fa{
    font-size: 24px;
    cursor: pointer;
}

input, button, select{
    outline: none;
    border: 0;
}

img{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.disabled{
    pointer-events: none;
}

.sticky{
    position: fixed;
    top: 0;
}

.show{
    display: initial;
}

.hide{
    display: none;
}

/* For Background blur effect  */
.overlay{
    display: none;
    height: 85vh;
    width: 98%;
    top: 0;
    right: 1%; /* right= (100 - width)/2 */
    position: absolute;
    transition: 1s all ease-in-out;
    backdrop-filter: blur(2px);
}
