{% macro doctorProfileCard() %}
<article class="doctor-card">
    <section class="left">
        <img src="{{ url_for('static', filename='images/doctor.jfif') }}" height="100" width="100" alt="Profile picture of doctor">
        
        <a class="view-profile-left" href="{{ url_for('doctors.doctor_profile', doctor_name='mohit') }}">View Profile</a>
    </section>

    <section class="right">
        <div class="name">
            <h3>{{ doctors.firstname }} {{ doctors.lastname }}</h3>
            <p>Dental Surgeon</p>
        </div>

        <div class="rating">
            <div class="rate">
                <p style="margin-right: 5px;">4.6</p>
                <i class="fa fa-star"></i>
            </div>

            <div class="rate-count">
                <p>14 ratings</p>
            </div>
        </div>

        <div class="speciality">
            <p>Dentistry</p>
            <p>Surgery</p>
            <p>Implantology</p>
            <p>Paediatric</p>
            <p>Surgery</p>
        </div>

        <a class="view-profile-right" href="{{ url_for('doctors.doctor_profile', doctor_name='doctors.firstname') }}">View Profile</a>
    </section>
</article>
{% endmacro %}