@media screen and (max-width: 600px){
    .banner img{
        width: 100%;
    }

    #new{
        margin: 10px;
    }

    .services{
        margin: 0 20px;
    }

    .services .row{
        margin-bottom: 50px;
        flex-direction: column-reverse;
    }

    .services .row .col{
        max-width: 100%;
    }
    
    .services .row .col.img img {
        margin: 20px 0;
        width: -webkit-fill-available;
    }

    .services .row.reverse{
        flex-direction: column-reverse;
    }

    .services .row .button .button-label{
        text-decoration: underline;
        color: #6220cb;
        font-size: 16px;
    }
}