/* ------------------------------------------ Banner section ------------------------------------------ */

#new{
    margin: 10px 8%;
    align-items: flex-end;
    display: flex;
}

#new .md-group{
    margin: 0;
}

#new p{
    margin: 0 5px;
}

#new .material-icons{
    cursor: unset;
}

#new .beta{
    margin-left: 10px;
    padding: 5px 10px;
    background: #aae;
    font-size: 10px;
    font-weight: 100;
    border-radius: 5px;
}


/* ----------------------------------------- Services section ----------------------------------------- */

.services{
    margin: 0 8%;
}

.services h3{
    padding: 20px 0;
    color: #E4791B;
    text-align: left;
    font-size: 22px;
    font-weight: unset;
    letter-spacing: 0.5px;
}

.services .row{
    margin-bottom: 100px;
}

.services .row.reverse{
    flex-direction: row-reverse;
}

.services .row .col{
    max-width: 50%;
}

.services .row .col.text{
    letter-spacing: 0.5px;
    font-size: 14px;
}

.services .row .col.text .title{   
    position: relative;
    padding: 0 0 10px 20px;
    font-size: 26px !important;
    color: #6220cb;
    text-align: left;
    font-weight: 700;
    font-style: normal;
}

.services .row .col.text .title::after{
    content: '';
    position: absolute;
    width: 2px;
    height: 30px;
    left: 0;
    background: #a469f7;
}

.services .row .col.text .content{
    font-family: 'Poppins',sans-serif;
    line-height: 24px;
}

.services .row .col.img img{
    width: 350px;
}

.services .row .md-group{
    margin: 10px 0px 0px 0px;
}
