.services{
    margin: 0 8%;
}

.services h3{
    padding: 20px 0;
    color: #E4791B;
    text-align: left;
    font-size: 22px;
    font-weight: unset;
    letter-spacing: 0.5px;
}

.hospitals{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
    padding: 10px;
    margin: 0 5px 20px 5px;
    display: flex;
    flex-direction: column;
    min-height: 200px;
    width: 350px;
    background: var(--bg--secondary);
    box-sizing: border-box;
    box-shadow: var(--box-shadow);
    transition: all .3s ease;
    border-radius: 8px;
}

.card img {
    height: 200px;
    width: 200px;
    border-radius: 5px 5px 0 0;
}

.info h4{
    margin: 10px 0;
}

.info .fa{
    margin: 10px 0;
    font-size: 16px;
}

.info .fa::before{
    margin-right: 10px;
}