section{
    margin: 50px 15%;
}

.container img{
    height: 400px;
    width: 400px;
    border-radius: 8px 0 0 8px;
}

.container form{
    margin: auto;
    padding: 0 50px;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
